@import './fonts.css';

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif ;
}

header {
	/* lay-out */
	display: flex;
	flex-flow: column;
	justify-content: flex-start;

	/* position */
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;

	/* size */
	box-sizing: border-box;
	width: 100%;
	padding: 0.2em;
}

header > * {
	box-sizing: border-box;
	border-radius: 0.5em;
	margin: 0;
	margin-bottom: 0.2rem;
}

header > h1 {
	height: 2em;
	background-color: rgba(209, 209, 209, 0.795);
	font-family: 'Montserrat';
	display: flex;
	justify-content: center;
	align-items: center;
}


#info-card {
	position: sticky;
	background: rgb(119, 110, 128);
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	padding: 0.5em;
}

#info-card > p {
	color: white;
	margin: 0;
}

main {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* #bubble-chart {
	width: 100%;
	height: 100%;
} */

.bubbles {
  	stroke-linejoin: round;
	fill: grey;
	fill-opacity: 0.7;
}

.bubbles:hover {
	fill-opacity: 1;
}

footer {
	box-sizing: border-box;
	width: 100%;
	padding: 0.2em;
	position: fixed;
	bottom: 0;
	left: 0;
}

#filter-bar {
	background-color: rgba(209, 209, 209, 0.795);
	border-radius: 0.5em;
	flex-flow: row;
	display: flex;
	list-style: none;
	margin: 0 ;
	padding: 0;
}

#filter-bar li ul {
	list-style: none;
	margin: 0;
	padding: 0;
}



